<div class="row">
  <div class="col-md-6">
    <app-add-product-type></app-add-product-type>
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of productTyeList;let i=index;">
          <td>
            {{i+1}}
          </td>
          <td>
            {{type.productType}}
          </td>
          <td>
            <button class="btn btn-success mr-2" (click)="UpdateType(type.productTypeId)">Update</button>
            <button class="btn btn-danger" (click)="DeleteType(type.productTypeId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
